<div class="d-flex justify-content-center align-items-center">
  <form action="/signup/submitted" method="POST">
    <div class="mt-4">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-phone text-danger"></i>
        </span>
        <input type="text" class="form-control border-danger-subtle select-red" placeholder="Mobile">
      </div>
    </div>

    <div class="mt-4">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-person text-danger"></i>
        </span>
        <input type="text" class="form-control border-danger-subtle select-red" placeholder="Name">
      </div>
    </div>

    <div class="mt-4">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-key text-danger"></i>
        </span>
        <input type="password" class="form-control border-danger-subtle select-red" placeholder="Password">
      </div>
    </div>

    <div class="mt-4">
      <div class="input-group">
        <span class="input-group-text">
          <i class="bi bi-person-workspace text-danger"></i>
        </span>
        <select name="role" id="role" class="form-control border-danger-subtle select-red">
          <option value="ASC">ASC</option>
          <option value="Admin">Admin</option>
          <option value="Distributor">Distributor</option>
          <option value="XFE">XFE</option>
        </select>

      </div>
    </div>

    <br><br>



    <p>Already a User ? Login <a href=" /login">Here</a></p>
    <input type="submit" action="submit">
  </form>
</div>