<!DOCTYPE html>
<html>

<head>
    <title>Signup - Airtel </title>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'nav.html' %}
    <img class="img-fluid mt-2 mb-2" id="banner" src="/static/banner.jpg">
    <div class="container">
        <h1 class="text-center mt-4 mb-4"> Login </h1>
        {% include 'loginform.html' %}
    </div>
    {% include 'footer.html' %}

    <!-- Auto-dismiss script -->
    <script>
        setTimeout(() => {
            const alerts = document.querySelectorAll('.auto-dismiss');
            alerts.forEach(alert => {
                alert.classList.remove('show');
                alert.classList.add('hide');
            });
        }, 3000); // 3 seconds
    </script>

</body>


</html>