<!DOCTYPE html>
<html>

<head>
    <title>Dashboard - Airtel </title>
    {% include 'bootstrap.html' %}
</head>

<body>

    <div class="wrapper">
        {% include 'sidebar.html' %}
        <div class="main-content">
            <br>
            <h4 class="text-center mb-4 section_heading rounded"> PERFORMANCE </h4>

            <div class="container py-2">
                <div class="card rounded-4 shadow-sm">
                    <!--div class="card-header bg-primary text-white rounded-top-4">
                        <h4 class="mb-0">User Data Table</h4>
                    </div-->
                    <div class="card-body">
                        {% if rows %}
                        <table class="table table-bordered table-hover table-striped align-middle">
                            <thead class="table-dark">
                                <tr>
                                    {% for col in columns %}
                                    <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in rows %}
                                <tr>
                                    {% for cell in row %}
                                    <td>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p class="text-muted">No data found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <h4 class="text-center mt-4 mb-4 section_heading rounded"> RANKING </h4>

            <div class="container py-2">
                <div class="card rounded-4 shadow-sm">

                    <div class="card-body">
                        {% if r_rows %}
                        <table class="table table-bordered table-hover table-striped align-middle">
                            <thead class="table-dark">
                                <tr>
                                    {% for col in r_columns %}
                                    <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in r_rows %}
                                <tr>
                                    {% for cell in row %}
                                    <td>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p class="text-muted">No data found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% include 'nav_dashboard.html' %}


    {% include 'footer.html' %}

    <!-- Auto-dismiss script -->
    <script>
        setTimeout(() => {
            const alerts = document.querySelectorAll('.auto-dismiss');
            alerts.forEach(alert => {
                alert.classList.remove('show');
                alert.classList.add('hide');
            });
        }, 3000); // 3 seconds
    </script>

</body>

</html>